.h-100 {
    height: 100%;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center-content {
    align-items: center;
    justify-content: center;
}

body {
    margin: 0;
}

div#container {
    flex: 1;
}

div#box {
    width: 400px;
    height: 400px;
    box-shadow: 5px 10px 8px #888888;
}